.schema {
  display: block;
  width: 100%;
}

.content {
  margin-top: 30px;
  width: 100%;
  height: 200px;
}

.titleContainer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.time {
  padding: 0 20px;
}
